.campaign {
    background-color: $lighGray;
    padding-top: 100px;

    .top-campaign {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid white;

        .item {
            background-size: cover;
            height: 280px;
            width: 50%;
        }

        .left {
            color: white;
            padding: 40px;
        }
    }

    .campaign-video {
        display: flex;
        min-height: 400px;
        width: 100%;

        .text-box {
            width: 85%;
            color: white;
            align-items: center;
            display: flex;
            margin: 0 auto;

            .row {
                width: 100%;
            }
        }
    }

    .information {
        padding: 16px;
        padding-left: 40px;
    }
}
  