.button {
    border: 1px solid black; 
    border-radius: 20px; 
    padding: 5px 32px;
    display: inline-block;
}

.sub-header {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}