.news-detail {
    padding: 0 16px;  
  
    .content-feature-news {
      background-color: $lighGray;
  
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;
        padding: 80px 0 40px;
    
        .left {
          width: 66%;
          background-color: white;

          .news-header {
            padding: 16px;
            position: relative;
            font-weight: 500;
          }
          
          img {
            width: 100%;
          }
          

          .news {
            display: flex;
            padding: 16px;
            .news-left {
              width: 33%;
              img {
                padding-left: 16px;
                padding-top: 16px;
                padding-right: 125px;
              }
              .molly {
                margin-left: 16px;
                font-weight: 500;
                font-size: 16px;
                margin-top: 16px;
                line-height: 27px;
              }
              .staff {
                margin-left: 16px;
                font-weight: 200;
                font-size: 15px;
                margin-top: 10px;
                line-height: 22px;
              }
              .tags {
                margin-left: 16px;
                font-weight: 200;
                font-size: 15px;
                margin-top: 10px;
                line-height: 22px;
              }
              .button {
                border: 1px solid blue;
                border-radius: 20px;
                padding: 5px 32px;
                display: inline-block;
                margin-bottom: 16px;
                margin-left: 16px;
              }
            }
            .news-right {
              flex: 1;
              img {
                max-width: 70%;
                margin: 8px 0;
              }
            }
          }
        }
    
        .right {
          width: 32%;
          position: relative;

          .top {
            margin-bottom: 16px;
            border: 1px solid $darkGray;
            img {
              width: 100%;
            }
            .human-rights-poverty {
              margin-left: 16px;
              font-weight: 500;
              font-size: 18px;
              margin-top: 16px;
              line-height: 27px;
            }
            .description {
              margin-left: 16px;
              font-weight: 500;
              font-size: 16px;
              margin-top: 16px;
              line-height: 24px;
            }
            .read-more {
              margin-left: 16px;
              font-weight: 500;
              font-size: 14px;
              margin-top: 16px;
              line-height: 24px;
            }
          }
          
          .bottom {
            border: 1px solid $darkGray;
            img {
              width: 100%;
            }
            .investigate {
              margin-left: 16px;
              font-weight: 500;
              font-size: 18px;
              margin-top: 16px;
              line-height: 27px;
            }
            .descriptions {
              margin-left: 16px;
              font-weight: 500;
              font-size: 16px;
              margin-top: 16px;
              line-height: 24px;
            }
            .read-more {
              margin-left: 16px;
              font-weight: 500;
              font-size: 14px;
              margin-top: 16px;
              line-height: 24px;
            }       
          }
         
        }

      }
    }
  
}

