.featur-news {
    padding: 0 16px;  
  
    .content-feature-news {
      background-color: $lighGray;
  
      .content {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        width: 87%;
        margin: 0 auto;
        padding: 80px 0 40px;
    
        .left {
          width: 66%;
          .img-item {
            width: 100%;
          }
        }
    
        .right {
          width: 33%;
          padding: 20px;
          padding-left: 50px;
          position: relative;
    
          .header-feature-news {
            margin-top: 20px;
            color: $darkGray2;
            margin-bottom: 32px;
          }
    
          .title {
            font-size: 20px;
            margin-top: 20px;
            font-weight: 500;
            letter-spacing: 2px;
          }
    
          p {
            color: $darkGray2;
          }
    
          .description {
            color: $darkGray2;
            margin-bottom: 20px;
          }
        }
      }
    } 
}


.news-wrapper {
  padding: 0 16px;

  .content-news-wrapper {
    background-color: $white;
    padding: 20px 0;

    .header-news {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }

    .content-news {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;

      .item {
        background-color: $white;
        border: 1px solid $darkGray2;
        width: 32%;

        .img-item {
          width : 100%;
        }

        .item-content {
          padding: 16px;
          position: relative;

          .title {
            font-weight: 500;
            font-size: 14px;
          }

          .description {
            color: $darkGray2;
          }

          .date {
            margin: 0;
          }

          .read-more {
            position: absolute;
            right: 16px;
            bottom: 16px;
            color: $darkBlue;
            font-size: 14px;
          }
        }
      
      }
    }
  }
}


.featur-news-2 {
  padding: 0 16px;  

  .content-feature-news {
    background-color: $white;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 87%;
      margin: 0 auto;
      border: 1px solid $darkGray2;
  
      .left {
        width: 66%;
        .img-item {
          width: 100%;
        }
      }
  
      .right {
        width: 33%;
        padding: 20px;
        padding-left: 50px;
        position: relative;
  
        .header-feature-news {
          margin-top: 20px;
          color: $darkGray2;
          margin-bottom: 32px;
        }
  
        .title {
          font-size: 20px;
          margin-top: 20px;
          font-weight: 500;
          letter-spacing: 2px;
        }
  
        p {
          color: $darkGray2;
        }
  
        .description {
          color: $darkGray2;
          margin-bottom: 20px;
        }
      }
    }
  } 
}