.publication {
    padding: 0 16px;  
  
    .content-publication {
      background-color: $lighGray;
  
      .content {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        width: 87%;
        margin: 0 auto;
        padding: 80px 0 40px;

        h3 {
          margin-bottom: 16px;
        }

        h4 {
          margin-bottom: 20px;
        }

        .left {
          width: 250px;
        }

        .right {
          flex: 1;
          margin-left: 20px;

          .pub-item {
            background-color: $white;
            border: 1px solid $gray;
            padding: 20px;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid $darkBlue;
            margin-bottom: 20px;

            .img-wrapper {
              margin-right: 20px;
              img {
                width: 100px;
              }
            }
          }
        }
      }
    } 
}

