#slider-animation{
  display: flex;
  min-height: 400px;
  width: 100%;

	.carousel-item img{
    width:100%;
	}

	.text-box {
		position: absolute;
		top: 60%;
		left: 7%;
		color: #000;
    transform: translateY(-50%);
    
    h2 {
      width:100%; 
      font-size: 40px;
      line-height: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
    }		
    
    .button-wrapper {
      margin-top: 20px;
    }
  }
  

  h2, p{
    color:#fff;
  }

  .slider-arrow {
    display: flex; 
    position: absolute; 
    bottom: 60px; 
    right: 60px;

    .prev {
      padding: 20px;
    }
    .next {
      padding: 20px;
    }
  }
}
