// color variable
$darkBlue: #4cb4c4;
$lightBule: #64bccc;
$gray: #e7e4e4;
$lighGray: #fafafa;
$darkGray: #efefef;
$darkGray2: #555555;
$white: #ffffff;

@import 'search.scss';
@import 'slider.scss';
@import 'component.scss';
@import 'campaign.scss';

body {
    padding: 0;
    margin: 0;

    p {
      font-size: 14px;
    }

    a {
      font-size: 14px;
    }
}

section {
  float: left; 
  width: 100%;
  padding: 0 16px;
}

.top-footer {
  background-color: $gray;
  border-bottom: 2px solid #efefef;

  .header-wrapper {
    display: flex;
    width: 87%;
    margin: 0 auto;
  
    p {
      margin: 0;
    }
  
    .header-left {
      background-color: $darkBlue; 
      flex: 1;
      text-align: center;
      padding: 10px 0;
    }
  
    .header-middle {
      width: 60%;
      display: flex;
      padding: 10px 0;
      margin-left: 15px;
      
      p {
        font-size: 13px;
        margin-left: 10px;
        color: $darkGray2;
        
        span {
          color: $lightBule;
        }
      }
    }
  
    .header-right {
      flex: 1;
      padding: 10px 0;
      p {
        font-size: 13px;
      }
    }  
  }  
}

.menuss {
  background-color: $white;

  .menus-wrapper {
    display: flex;
    width: 87%;
    margin: 0 auto;
  
    .menus-left {
      background-color: $lightBule; 
      flex: 1;
      text-align: center;
      position: relative;

      .raoul {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
      }
    }
  
    .menus-middle {
      width: 60%;
      display: flex;
      padding: 20px 0;
      margin-left: 15px;
      
      a {
        font-size: 14px;
        margin-left: 15px;
        text-decoration: none;
        color: $darkGray2;
      }
    }
  
    .menus-right {
      flex: 1;
      padding: 10px 0;
      p {
        font-size: 13px;
      }
    }  
  }  
}


.who-we-are {
  position: relative;
  padding: 16px;

  .who-we-are-wrapper {
    background-color: $lighGray;
    padding: 40px 0;
    .who-we-are-content {
      width: 87%;
      margin: 0 auto;
    }
  }

  .whowearebg {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

}


.video-wrapper {
  padding: 0 16px;

  .content-video-wrapper {
    background-color: $lighGray;
    padding: 20px 0;

    .header-video {
      width: 87%;
      margin: 20px auto;
    }

    .content-video {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
    }

    .item {
      background-color: $white;
      padding-bottom: 20;
      width: 49%;
  
      .img-item {
        width: 100%;
      }
      
  
      .title {
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
      }
    }

  }
}

.news-wrapper {
  padding: 0 16px;

  .content-news-wrapper {
    background-color: $lighGray;
    padding: 20px 0;

    .header-news {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }

    .content-news {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;

      .item {
        background-color: $white;
        width: 32%;

        .img-item {
          width : 100%;
        }

        .item-content {
          padding: 16px;
          position: relative;

          .title {
            font-weight: 500;
            font-size: 14px;
          }

          .description {
            color: $darkGray2;
          }

          .date {
            margin: 0;
          }

          .read-more {
            position: absolute;
            right: 16px;
            bottom: 16px;
            color: $darkBlue;
            font-size: 14px;
          }
        }
      
      }
    }
  }
}

.featur-video {
  padding: 0 16px;  

  .content-feature-video {
    background-color: #fafafa;

    .content {
      display: flex;
      flex-direction: row;
      padding: 20px 0;
      justify-content: stretch;
      width: 87%;
      margin: 0 auto;
  
      .left {
        width: 60%;
        .img-item {
          width: 100%;
        }
      }
  
      .right {
        width: 40%;
        background-color: $white;
        padding: 20px;
        padding-left: 50px;
        border-bottom: 4px solid $darkBlue;
        position: relative;
  
        .header-feature-video {
          margin-top: 20px;
          color: $darkGray2;
        }
  
        .time {
          font-size: 16px;
          border: 1px solid $darkBlue;
          color: $darkBlue;
          width: 120px;
          text-align: center;
          padding: 4px 8px;
          font-size: 14px;
          margin: 50px 0 20px;
        }
  
        .title {
          font-size: 20px;
          margin-top: 20px;
          font-weight: 500;
          letter-spacing: 2px;
        }
  
        p {
          color: $darkGray2;
        }
  
        .description {
          color: $darkGray2;
        }
  
        .date {
          position: absolute;
          bottom: 20px;
          left: 50px;
          margin: 0;
        }
  
        .share {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
  
      }
    }
  } 
}


.rwi-link {
  padding: 50px 16px;

  .content-rwi-link {
    margin: 0 auto;

    .content {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      width: 87%;
      margin: 0 auto;
  

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img-item {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.photos {
  position: relative;
  .icon-cam {
    width: 80px;
    height: 80px;
    margin-right: 40px;
  }

  .see-all {
    display: flex;
    flex-direction: "row";
    padding: 70px 0;
    width: 85%;
    margin: 0 auto;
  }

  .join-movement {
    background-color: $darkBlue;
    color: white;
    .content-movement {
      padding: 50px 0;
      width: 85%;
      margin: 0 auto;
    }
  }

  .people-photos {
    position: absolute;
    bottom: 0;
    right: 16px;
    max-width: 650px;
  }

}

.footer {
  padding: 0;
  margin: 0;
  margin-top: 20px;

  .newsletter {
    background-image: url('../images/bg_newsletter.png');
    background-size: contain;
    height: 280px;
    padding-top: 50px;

    .wrapper {
      width: 83%;
      margin: 0 auto;
      .content {
        color: white;
        width: 40%;
  
        h3 {
          margin-bottom: 20px;
        }
  
        form {
          width: 60%;
          margin-top: 20px;
          border-radius: 50px;
          padding: 4px 8px;
          background-color: white;
        }
      }
    }
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0 auto;
    padding: 40px 0;

    .item {
      padding: 16px;
      h4 {
        font-size: 16px;
        color: $darkBlue;
      }
    }

    .item:first-of-type {
      width: 20%;  
      padding-left: 0;
    }

    .item:last-child {
      padding-right: 0;
    }

  }

  .footer-about{ 
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .item {
      flex: 1;
      padding: 16px;
      color: $darkGray2;
    }

    .item:first-of-type {
      padding-left: 0;
    }

    .item:last-child {
      padding-right: 0;
    }
  }

  .copyright{ 
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.bottom-footer {
  padding: 0;
  margin-top: 40px;

  .bottom-wrapper {
    background-color: $gray;
    padding: 10px 0;
  
    .bottom {
      width: 83%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      p {
        margin: 0;
      }
    }
  }
}

@import 'news.scss';
@import 'publications.scss';
@import 'videos.scss';
@import 'news-detail.scss';
@import 'video-detail.scss';
