.videos {
    padding: 0 16px;  
  
    .content-videos {
      background-color: $lighGray;
  
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;
        padding: 110px 0 40px; 
        .left {
          width: 69%;
          background-color: white;
          img {
            width: 100%;
          }
        .human-rights {
          margin-left: 40px;
          margin-top: 20px;
          margin-bottom: 0;
          font-weight: 400;
          font-size: 23px;
          }
        }
        .right {
          width: 28%;
          .top {
            background-color: white;
            margin-bottom: 20px;
            img {
              width: 100%;
            }
            .people-mental {
              margin-left: 20px;
              margin-top: 16px;
              margin-bottom: 0;
              font-weight: 400;
              font-size: 18px;
              }
            }
        }
        
        .bottom {
          .human-rights-facts {
            background-color: blue;
            padding: 15px;
            }
          }
          .approximately {
            margin-left: 20px;
            background-color: cadetblue;
          }
        
      }
    }  
}


.videos-wrapper {
  padding: 0 16px;

  .content-videos-wrapper {
    padding: 20px 0;
    
    .content-videos {
      flex-direction: "row";
      width: 88%;
      margin: 0 auto;
    }

    .item {
      background-color: $white;
      padding-bottom: 20;
      width: 49%;
  
      .img-item {
        width: 100%;
      }
      
  
      .title {
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
      }
    }

  }
}
 

.related-videos {
  padding: 0 16px;

  .content-related-videos {
    padding: 20px 0;

    .header-related-videos {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }
    
    .content-related {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
    }

    .item {
      background-color: $white;
      padding-bottom: 20;
      width: 32%;
      border: 1px solid $darkGray;
  
      .img-item {
        width: 100%;
      }
      
      .title {
        margin: 16px;
        font-weight: 500;
        font-size: 14px;
      }
    }

  }
}
 
.video-collections {
  padding: 0 16px;

  .content-video-collections {
    padding: 20px 0;

    .sub-header-video-collections {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }
    
    .content-collections {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
    }

    .item {
      background-color: $white;
      padding-bottom: 20;
      width: 32%;
      border: 1px solid $darkGray;
  
      .img-item {
        width: 100%;
      }
      
      .title {
        margin: 16px;
        font-weight: 500;
        font-size: 14px;
      }
    }

  }
}

        