.video-detail {
    padding: 0 16px;  
  
    .content-feature-video {
      background-color: $lighGray;
  
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;
        padding: 80px 0 40px;
    
        .left {
          width: 66%;

          img {
            width: 100%;
          }

          .sub-content {
            background-color: white;
            padding: 1em;
            position: relative;
            margin-bottom: 1em;
          }

          .comment {
            background-color: white;
            padding: 1.5em;
            position: relative;
            margin-bottom: 1em;
          }

        }
        .right {

          width: 32%;
          position: relative;

          .top {
            margin-bottom: 16px;
            border: 1px solid $darkGray;
            img {
              width: 100%;
            }
            .human-rights-poverty {
              margin-left: 16px;
              font-weight: 500;
              font-size: 18px;
              margin-top: 16px;
              line-height: 27px;
            }
            .description {
              margin-left: 16px;
              font-weight: 500;
              font-size: 16px;
              margin-top: 16px;
              line-height: 24px;
            }
            .read-more {
              margin-left: 16px;
              font-weight: 500;
              font-size: 14px;
              margin-top: 16px;
              line-height: 24px;
            }
          }
          
          .bottom {
            border: 1px solid $darkGray;
            img {
              width: 100%;
            }
            .investigate {
              margin-left: 16px;
              font-weight: 500;
              font-size: 18px;
              margin-top: 16px;
              line-height: 27px;
            }
            .descriptions {
              margin-left: 16px;
              font-weight: 500;
              font-size: 16px;
              margin-top: 16px;
              line-height: 24px;
            }
            .read-more {
              margin-left: 16px;
              font-weight: 500;
              font-size: 14px;
              margin-top: 16px;
              line-height: 24px;
            }       
          }
         
        }
      }
    }
}

.related-videos {
  padding: 0 16px;

  .content-related-videos {
    padding: 20px 0;
    background-color: $lighGray;

    .header-related-videos {
      margin-left: 34px;
      margin: 20px auto;
      width: 87%;
    }
    
    .content-related {
      margin: 0; // override bootstrap
      padding: 0; // override bootstrap
      flex-direction: "row";
      display: flex;
      justify-content: space-between;
      width: 87%;
      margin: 0 auto;
    }

    .item {
      background-color: $white;
      padding-bottom: 20;
      width: 32%;
      border: 1px solid $darkGray;
  
      .img-item {
        width: 100%;
      }
      
      .title {
        margin: 16px;
        font-weight: 500;
        font-size: 14px;
      }
    }

  }
}

